<!DOCTYPE html>
<html ng-app="ASMSimulator">
<head>
    <title>Dauphin web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
</head>
<body ng-controller="Ctrl">
    <nav class="navbar navbar-inverse navbar-header" role="navigation" style="background-color:#428BCA;border:0px;border-radius:0px;">
        <div class="container">
            <div class="navbar-header">
                <span style="color:#FFFFFF">Horloge: </span>
                <select style="height:34px; background-color: #fff; border-color:#ccc;" ng-model="speed" ng-options="item.speed as item.desc for item in speeds"></select>
                <div class="btn-group" ng-hide="isRunning">
                    <button type="button" class="btn btn-success navbar-btn" ng-click="run()" ng-hide="isRunning"><span class="glyphicon glyphicon-play"></span> Run</button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="executeStep()" ng-hide="isRunning"><span class="glyphicon glyphicon-forward"></span> Step</button>
                </div>
                <div class="btn-group" ng-show="isRunning">
                    <button type="button" class="btn btn-default navbar-btn" ng-click="stop()" ng-show="isRunning"><span class="glyphicon glyphicon-pause"></span> Pause</button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="stop(); reset(); assemble()" ng-show="isRunning"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                </div>
                <button id="btn-turbo" type="button" class="btn btn-default navbar-btn" style="margin-left: 20px;" ng-click="turbo()" value=0>Turbo</button>
                <button type="button" class="btn btn-default navbar-btn" ng-click="reset()">Reset</button>
                <div class="btn-group" style="margin-left: 20px;">
                    <button type="button" class="btn btn-default navbar-btn" onclick="document.getElementById('openFile').click()" ng-click="reset();">Load</button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="writeFile()" >Save</button>
                </div>
                <div class="btn-group">
                    <input type="file" id="openFile" style="visibility:hidden; width:1em;"  onchange="angular.element(this).scope().readFile(this.files)" accept="'.txt"></button>
                </div>
                <span style="color:#FFFFFF; margin-left: 60px; ">Architecture: </span>
                <select id="archi" style="height:34px; background-color: #fff; border-color:#ccc;" ng-model="archi" ng-options="item.archi as item.desc for item in archis" ng-change="constants.set(archi); memory.reset(); memorySize(); outputChange()"></select>
            </div>
            <div class="navbar-header navbar-right">
                <!-- <img source="favicon-32x32.png" style="height:100%"> -->
                <a class="navbar-brand" style="color:#FFFFFF">Dauphin Web</a>
                <small><a class="navbar-brand" href="./instruction-set.html" target="_blank" style="color: #ffffff">(Aide)</a></small>
            </div>
        </div>
    </nav>
    <div class="container simulator">
        <div class="alert alert-danger" ng-hide="error === ''">{{ error }}</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 turbo" style="min-width:33em; max-width:40em">
                                
                <div class="panel panel-default" id="Code_panel">
                    <div class="panel-heading" style="display:inline-block; width:100%">
                        <h4 class="panel-title">Code 
                            <small>
                                <button type="button" class="btn btn-default" style="margin-left: 20px;" ng-click="reset(); assemble()">Assembler</button>
                                <div class="btn-group" style="float:right">
                                    <button type="button" id="btn-code-texte"   class='btn btn-default btn-code-on' ng-model="displaycode" ng-click="displaycode = 'texte'; getCodeCss('texte')" >Source</button>
                                    <button type="button" id="btn-code-assemble" class='btn btn-default' ng-model="displaycode" ng-click="displaycode = 'assemble'; getCodeCss('assemble')">Code</button>
                                </div>
                            </small>
                            
                        </h4>
                    </div>
                    <div ng-switch="displaycode" >
                        <div class="panel-body" ng-switch-default>
                            <form role="form">
                                <textarea id="sourceCode"
                                        class="form-control source-code"
                                        style="margin-bottom:5px;"
                                        rows="35"
                                        tab-support
                                        select-line
                                        ng-model="code.text"></textarea>
                                
                            </form>
                        </div>
                        

                        <div class="panel panel-default" ng-switch-when="assemble">
                            <div class="panel-body source-code codelabels">
                                <table class="table table-condensed" id="table-assemble" select-row>
                                    <thead>
                                        <tr>
                                            <th>Adr.</th>
                                            <th>&nbsp;&nbsp;Valeur&nbsp;&nbsp;</th>
                                            <th>Instruction</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="(address, instr) in labels_dauph" class="codelabel">
                                        <td class="codelabel-name">{{ instr.address | number:displayHex}}</td>
                                        <td class="codelabel-line">{{ instr.array | number:displayHex}}</td>
                                        <td class="codelabel-value"> {{instr.code}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6" > <!-- Memory & Output-->
                <div class="row">
                    <div class="col-lg-5 order-1 turbo" style="min-width:33em; max-width:35em"> <!-- CPU Memory   limité la taille pour avoir 16 octet par ligne-->
                        <div class="panel panel-default"> <!-- CPU -->
                            <div class="panel-heading" style="display:inline-block; width:100%">
                                <h4 class="panel-title">CPU
                                    <small>
                                        <div class="btn-group" style="float:right">
                                            <button class="btn btn-default btn-on" type="button" ng-click="displayA = false" ng-show="displayA"> A </button>
                                            <button class="btn btn-default btn-off" type="button" ng-click="displayA = true" ng-hide="displayA" > A </button>
                                            <button class="btn btn-default btn-off" type="button" ng-click="displayB = true" ng-hide="displayB" > B </button>
                                            <button class="btn btn-default btn-on" type="button" ng-click="displayB = false" ng-show="displayB" > B </button>
                                            <button class="btn btn-default btn-off" type="button" ng-click="displayC = true" ng-hide="displayC" > X </button>
                                            <button class="btn btn-default btn-on" type="button" ng-click="displayC = false" ng-show="displayC" > X </button>
                                            <button class="btn btn-default btn-off" type="button" ng-click="displayD = true" ng-hide="displayD" > Y </button>
                                            <button class="btn btn-default btn-on" type="button" ng-click="displayD = false" ng-show="displayD" > Y </button>
                                        </div>
                                    </small>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed table-striped" style="width:100%;margin-bottom: 25px;">
                                    <thead>
                                        <tr>
                                            <th style="width:5em; text-align:center;border:1px solid #ccc;">Registres</th>
                                            <th style="width:4em; text-align:center;border:1px solid #ccc;">A</th>
                                            <th style="width:4em; text-align:center;border:1px solid #ccc;">B</th>
                                            <th style="width:4em; text-align:center;border:1px solid #ccc;">X</th>
                                            <th style="width:4em; text-align:center;border:1px solid #ccc;">Y</th>
                                            <th style="width:4em; text-align:center;border:1px solid #ccc;">PC</th>
                                            <th style="width:4em; text-align:center;border:1px solid #ccc;">SP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="text-align:center;" class="source-code">
                                            <th style="text-align:right">Valeur: </th>
                                            <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>{{ cpu.gpr[0] | number:displayHex }}</small></div></td>
                                            <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ cpu.gpr[1] | number:displayHex }}</small></div></td>
                                            <td><div style="margin:auto;" ng-class="displayC && 'marker marker-x'"><small>{{ cpu.gpr[2] | number:displayHex }}</small></div></td>
                                            <td><div style="margin:auto;" ng-class="displayD && 'marker marker-y'"><small>{{ cpu.gpr[3] | number:displayHex }}</small></div></td>
                                            <td><div style="margin:auto;" class="marker marker-pc"><small>{{ cpu.pc | number:displayHex }}</small></div></td>
                                            <td><div style="margin:auto;" class="marker marker-sp"><small>{{ cpu.sp | number:displayHex }}</small></div></td>
                                        </tr>
                                       </tbody>
                                </table>
                                <table class="table table-condensed table-striped" style="width:100%;margin-bottom: 0px;">
                                    <thead>
                                        <tr>
                                            <th style="width:5em; text-align:center;border:1px solid #ccc;">Fanions</th>
                                            <th style="width:5em; text-align:center;border:1px solid #ccc;">N</th>
                                            <th style="width:5em; text-align:center;border:1px solid #ccc;">Z</th>
                                            <th style="width:5em; text-align:center;border:1px solid #ccc;">C</th>
                                            <th style="width:5em; text-align:center;border:1px solid #ccc;">F</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="text-align:center;" class="source-code">
                                            <th style="text-align:right">Valeur: </th>
                                            <td><small>{{ cpu.negative | flag }}</small></td>
                                            <td><small>{{ cpu.zero | flag }}</small></td>
                                            <td><small>{{ cpu.carry | flag }}</small></td>
                                            <td><small>{{ cpu.fault | flag }}</small></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default" id="BUS_panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">BUS
                                    <div class="btn-group"  style="margin-left: 20px;">
                                        <button class="btn btn-default" type="button" ng-click="bus.read()" ng-disabled="isRunning"> Read </button>
                                        <button class="btn btn-default" type="button" ng-click="bus.write()" ng-disabled="isRunning"> Write </button>
                                    </div>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <!-- <div class="source-code bus">   -->
                                    <table class="table table-condensed table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="width:10rem; text-align:center; border:1px solid #ccc;">Adresse:</th>
                                                <td style="width:7rem; text-align:center;border:1px solid #ccc;" id="busAddress" ng-model="bus" >{{bus.address | number:displayHex}}</td>
                                                <td style="min-width:25rem; display:inline-block; width:100%;border:1px solid #ccc;">
                                                    <div id="busAddressBit" style="display:grid; grid-template-columns: repeat({{adressSize}}, minmax(auto,2rem)); float:right;">
                                                        <div  ng-repeat="a in getBinArray(bus.address, adressSize) track by $index">
                                                            <button ng-disabled="isRunning" ng-click="bus.change('address',$index+12-adressSize,a)" ng-class="getBusInnerCellCss(a)">{{ a }}</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table table-condensed table-striped" style="width:100%; margin-bottom: 0px;">
                                        <thead>
                                            <tr>
                                                <th style="width:10rem; text-align:center; border:1px solid #ccc;">Donnée:</th>
                                                <td style="width:7rem; text-align:center; border:1px solid #ccc;" id="busData" ng-model="bus" >{{bus.data | number:displayHex}}</td>
                                                <td style="min-width:25rem; text-align: right;border:1px solid #ccc;display:inline-block; width:100%;">
                                                    <div style="display:grid; grid-template-columns: repeat(8, minmax(auto,2rem)); align-content: end;float:right;">
                                                        <div ng-repeat="a in getBinArray(bus.data, 8) track by $index">
                                                            <button ng-disabled="isRunning" ng-click="bus.change('data',$index,a)" ng-class="getBusInnerCellCss(a)">{{ a }} </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                    
                            </div>
                        </div>
                        <div class="panel panel-default">    <!-- Memory -->
                            <div class="panel-heading" style="display:inline-block; width:100%">
                                <h4 class="panel-title">Mémoire (RAM)
                                    <small>
                                        
                                        <div class="btn-group" style="float:right">
                                            <button type="button" id="btn-view-hex"   class='btn btn-default' ng-model="displayHex" ng-click="displayHex = true; getViewCss()" >hex</button>
                                            <button type="button" id="btn-view-dec" class='btn btn-default btn-view-on' ng-model="displayHex" ng-click="displayHex = false; getViewCss()">dec</button>
                                        </div>
                                    </small>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div  class="source-code" style="width:29em;"> 
                                    <div class="memory-block"
                                        ng-repeat="m in memory.data track by $index"
                                        ng-class="getMemoryCellCss($index)">
                                        <div ng-switch="displayAdd">
                                            <div ng-switch-when="false">
                                                <div ng-class="getMemoryInnerCellCss($index)" ng-switch="isInstruction($index)" title="@{{$index | number:displayHex}}">
                                                    <small ng-switch-default>{{ m | number:displayHex }}</small>
                                                    <a ng-switch-when="true" ng-click="jumpToLine($index)">
                                                        <small>{{ m | number:displayHex }}</small>
                                                    </a>
                                                </div>
                                            </div>
                                            <div ng-switch-when="true">
                                                <div ng-class="getMemoryInnerCellCss($index)" ng-switch="isInstruction($index)">
                                                    <small ng-switch-default><i>{{$index | number:displayHex}}</i> {{ m | number:displayHex }}</small>
                                                    <a ng-switch-when="true" ng-click="jumpToLine($index)">
                                                        <small><i>{{$index | number:displayHex}}</i> {{ m | number:displayHex }}</small>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p style="margin-top:5px;">
                                    <small>
                                        <span style="margin-left:5px;">Instructions:</span>
                                        <a ng-click="displayInstr = true" ng-hide="displayInstr">Show</a>
                                        <a ng-click="displayInstr = false" ng-show="displayInstr">Hide</a>
                                        <span style="margin-left:5px;">Adresses mémoire:</span>
                                        
                                        <a ng-click="displayAdd = true" ng-hide="displayAdd">Show</a>
                                        <a ng-click="displayAdd = false" ng-show="displayAdd">Hide</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 order-5" style="min-width:33em; max-width:38em">  <!-- Output & Input-->
                        <div class="panel panel-default" style="display:none">
                            <div class="panel-heading">
                                <h4 class="panel-title">Entrées</h4>
                            </div>
                            <div class="panel-body source-code" >
                                <div>
                                    <p style="text-align:center; font-size:20pt">
                                        <button ng-click="inputClick(0)" ng-class="getInputCss(0)">
                                            &#8593;
                                        </button>
                                    </p>
                                    <p style="text-align:center; ">
                                        <button ng-click="inputClick(1)" ng-class="getInputCss(1)">&#8592;</button>
                                        <button ng-click="inputClick(2)" ng-class="getInputCss(2)">&#8595;</button>
                                        <button ng-click="inputClick(3)" ng-class="getInputCss(3)">&#8594;</button>
                                    </p>
                                </div>
                                <div>
                                    <p style="text-align:center; font-size:14pt">
                                        <button>Ctrl</button>
                                        <button>4</button>
                                        <button>5</button>
                                        <button>6</button>
                                        <button>7</button>
                                    </p>
                                    <p style="text-align:center; font-size:14pt">
                                        <button>Shift</button>
                                        <button>0</button>
                                        <button>1</button>
                                        <button>2</button>
                                        <button>3</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="Sorties_panel">
                            <div class="panel-heading" style="display:inline-block; width:100%">
                                
                                <h4 class="panel-title">Sorties 
                                    <small>
                                        <div class="btn-group" style="float:right">
                                            <button type="button" id="btn-output-ascii"  ng-model="output" ng-click="outputChange('ASCII')"   ng-class="getOutputCss()">ASCII</button>
                                            <button type="button" id="btn-output-digit"  ng-model="output" ng-click="outputChange('DIGIT')"   ng-class="getOutputCss()">Digital</button>
                                            <button type="button" id="btn-output-img"    ng-model="output" ng-click="outputChange('IMG')"     ng-class="getOutputCss()">Bitmap</button>
                                        </div>
                                    </small>
                                </h4>
                            </div>
                            <div class="panel-body source-code" style="padding:5px">
                                <h5 ng-hide="!output[0]">ASCII</h5>
                                <div class="panel-body" style="border:1px solid #ddd; padding:5px; margin-bottom:5px;" ng-hide="!output[0]">
                                    <div style="float:left; font-size:large" class="output output-ASCII" 
                                        ng-repeat="m in memory.data | startFrom: outputStartIndex_ASCII | stopTo: outputStopIndex_ASCII track by $index" 
                                        title="@{{$index+outputStartIndex_ASCII | number:displayHex}}">
                                        <span>{{ getChar(m) }}</span>
                                    </div>
                                </div>
                                <!-- NK 12/07 segmented display -->
                                <h5 ng-hide="!output[1]">Digital</h5>
                                <div class="panel-body" style="border:1px solid #ddd; padding:5px;; margin-bottom:5px;" ng-hide="!output[1]">
                                    
                                    <div style="float:left;" class="output output-Digit" 
                                        ng-repeat="m in memory.data | startFrom: outputStartIndex_DIGIT | stopTo: outputStopIndex_DIGIT track by $index" >
                                        <div class="display" x="{{bit = getBinArray(m)}}" y="{{byteIndex=$index}}">
                                            <div class="segment A" ng-class="getOutputDigitInnerCellCss(bit[2])" ng-click="changeMemory(byteIndex,2,bit[2],1)" title="b{{5}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment B" ng-class="getOutputDigitInnerCellCss(bit[7])" ng-click="changeMemory(byteIndex,7,bit[7],1)" title="b{{0}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment C" ng-class="getOutputDigitInnerCellCss(bit[6])" ng-click="changeMemory(byteIndex,6,bit[6],1)" title="b{{1}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment D" ng-class="getOutputDigitInnerCellCss(bit[5])" ng-click="changeMemory(byteIndex,5,bit[5],1)" title="b{{2}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment E" ng-class="getOutputDigitInnerCellCss(bit[4])" ng-click="changeMemory(byteIndex,4,bit[4],1)" title="b{{3}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment F" ng-class="getOutputDigitInnerCellCss(bit[3])" ng-click="changeMemory(byteIndex,3,bit[3],1)" title="b{{4}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment G" ng-class="getOutputDigitInnerCellCss(bit[1])" ng-click="changeMemory(byteIndex,1,bit[1],1)" title="b{{6}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                            <div class="segment H" ng-class="getOutputDigitInnerCellCss(bit[0])" ng-click="changeMemory(byteIndex,0,bit[0],1)" title="b{{7}} @{{byteIndex+outputStartIndex_DIGIT | number:displayHex}}"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- NK 08/07 byte -> bit -->
                                <h5 ng-hide="!output[2]">Bitmap</h5>
                                <div class="panel-body" style="border:1px solid #ddd; padding:5px;" ng-hide="!output[2]">
                                    <div class="outputImg_grid">
                                        <div ng-repeat="m in memory.data | startFrom: outputStartIndex_BITMAP | stopTo: outputStopIndex_BITMAP track by $index">
                                            <div x="{{bit = getBinArray(m)}}" y="{{byteIndex=$index}}"> 
                                                <div style="float:left;" ng-repeat="b in bit track by $index" class="outputImg2"> 
                                                    <button ng-class="getOutputImgInnerCellCss(b)" ng-click="changeMemory(byteIndex,$index,b,2)" 
                                                        alt="{{byteIndex}}" title="b{{7-$index}} @{{byteIndex+outputStartIndex_BITMAP | number:displayHex}}">
                                                        <a href="#"></a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin-top:10px;margin-bottom:10px;"/>
        <p><small>by Nicolas Kunz (2023) | Based on <a href="https://www.epsitec.ch/dauphin/" target="_blank">Simulateur Dauphin (EPSITEC)</a> & <a href="https://www.mschweighauser.com/make-your-own-assembler-simulator-in-javascript-part1/" target="_blank">Marco Schweighauser's work</a></small></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="asmsimulator.js"></script>
</body>
</html>
